{% extends "blank.html" %}

{% block content %}
        <div class="intro">Подбери музыку, соответствующую твоему настроению, и наслаждайся!</div>
{% endblock %}

{% block auth %}
    <a>
        <div id="login_button" onclick="VK.Auth.login(authInfo,8);">Войти</div>
    </a>
{% endblock %}

{% block menu %}
    <div class="music-img" />
{% endblock %}

{% block head_addition %}

    <script language="javascript">

        var user_id = 0;

        function authInfo(response) {
            if (response.session) {
                document.getElementById("login_button").style.display = "none";
                user_id = response.session.mid;
                var d = new Date();
                // Увеличиваем дату на 6 месяцев.
                d.setMonth(d.getMonth() + 6);
                setcookie('vk_id', user_id, d);
                window.location.reload();

            } else {
                alert('not auth');
            }
        }

    /*    VK.Auth.getLoginStatus(authInfo);
        VK.UI.button('login_button');

/*        VK.Api.call('users.get', {uids: user_id}, function (r) {
            if (r.response) {
                alert('Привет, ' + r.response[0].first_name + ' ' + r.response[0].last_name);
            }
        });*/
    </script>
{% endblock %}