<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>Выбор музыки под настроение</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
</head>
<body>
    <header>
        <h1>Привет, {{ account.name }}</h1>
        <h2>Ты чувствуешь {{ account.mood.name }}</h2>
    </header>
    <section>
        <p>Послушай музыку: {{ song.name }}
        <p><a href="/static/index.html">Ссылка на реальный веб-интерфейс</a>
    </section>
    <footer>
        <p><small>Задание на конкурс студентов. Компания "Тензор". 2013 год.</small>
    </footer>
</body>
</html>
