
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Off Canvas Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom style  s for this template -->
    <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="/static/theme.css">


      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="header_style" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand home_button" href="#">Музыка по настроению</a>
        </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav sign_in_style">
                  <li class=" sign_in_style"><a href="#">Войти</a></li>
              </ul>
          </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar_style" id="sidebar" role="navigation">
        <div class="well sidebar-nav">
            <ul class="nav">
                <li class="active"><a href="#">Рекомендации</a></li>
                <li><a href="#">Популярные</a></li>
                <li><a href="#">Мои</a></li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    </div><!--/row-->

    <div>

   {%block content%}
    {%endblock%}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>



{%  block comment %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>Выбор музыки под настроение</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
</head>
<body>
    <header>
        <h1>Привет, {{ account.name }}</h1>
        <h2>Ты чувствуешь {{ account.mood.name }}</h2>
    </header>
    <section>
        <p>Послушай музыку: {{ song.name }}
        <p><a href="/static/index.html">Ссылка на реальный веб-интерфейс</a>
    </section>
    <footer>
        <p><small>Задание на конкурс студентов. Компания "Тензор". 2013 год.</small>
    </footer>
</body>
</html>

{% endblock %}