{% extends "blank.html" %}

{% block head_addition %}
    <script>


        function logout() {
            eraseCookie('vk_id');
            window.location.href = '/';
        }

    (function ($, undefined) {
        function dod() {
            var user_id = getcookie('vk_id');
            VK.Api.call('users.get', {"fields": 'photo_50'}, function (r) {
                $('#avatar').attr('src', (r.response[0].photo_50));
                $('#openapi_user').text(r.response[0].first_name + '  ' + r.response[0].last_name);
            })
        }


        $(document).ready(dod);
    }(jQuery))
    </script>
    <script src="/static/js/mood_music.js"></script>
    <link rel="stylesheet" href="/static/js/music_mood.css" type="text/css">
    <link href="/static/js/jquery/no-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function () {
            addRandomPictures();
            $(".button").click(function () {
                centerPopup();
                loadPopup();
            });
            $("#popupContactClose").click(function () {
                disablePopup();
            });
            //            $("#backgroundPopup").click(function(){
            //                disablePopup();
            //            });
            $(document).keypress(function (e) {
                if (e.keyCode == 27 && popupStatus == 1) {
                    disablePopup();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    ohlol
{% endblock %}

{% block auth %}

    <div id="openapi_block">
        <div id="avatar-div">
            <img id="avatar" src=""></img>
        </div>
        <div id="openapi_profile">
            <div id="openapi_greeting">Привет, <span id="openapi_user"></span>!!!</div>
            <div class="exit-div">
                <a onclick="logout();">Выход</a>
            </div>
        </div>
    </div>

    <div class="popup-block">
        <center>
            <div class="button mood-picture-{{mood_id}}"></div>
        </center>
        <div id="popupContact" class="hidden-picture">
            <a id="popupContactClose">Закрыть</a>
        </div>
    </div>
{% endblock %}