{% extends "audio_list.html" %}

{% block gen_audio %}
    <script>
        $(document).ready(function () {
            var Lucky_Search = new Array('А','Б','В','Г','Д','Е','Ё','Ж','З;','И','Й','К','Л','М','Н','О','П','Р','С','Т','У','Ф','Х','Ц','Ч','Ш','Щ','Ъ','Ы','Ь','Э','Ю','Я');
            var NumOfSearch = Math.floor(Math.random() * 32);
            var Search_q = Lucky_Search[NumOfSearch];

            VK.Api.call('audio.search', {"q" : Search_q, "auto_complete" : "1"}, function(r) {
                if(r.response) {
                    var Res = {};
                    Res.audio = [];
                    for(var i=0;i< r.response.length;i++)
                    {
                        Res.audio.push(
                                {   'id' : r.response[i].aid,
                                    'url' : r.response[i].url,
                                    'owner' : r.response[i].owner_id,
                                    'name' : r.response[i].artist+' '+ r.response[i].title
                                });
                    }
                    $('body').create_list(Res.audio);
                }
            });
        });
    </script>
{% endblock %}

{% block lucky-class %}current{% endblock %}