{% extends "audio_list.html" %}

{% block gen_audio %}
    <script>
        $(document).ready(function () {
            var lst = [
                {% for i in lst %}
                    '{{ i.song.name }}' {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]

            for (var i=0;i<lst.length;i++)
            {
            VK.Api.call('audio.getById', {"audios" : lst[i]}, function(r) {
                if (r.response) {
                    var Res = {};

                    Res.audio = [];
                        Res.audio.push(
                                {'id': r.response[0].aid,
                                    'url': r.response[0].url,
                                    'owner': r.response[0].owner_id,
                                    'name': r.response[0].artist + ' - ' + r.response[0].title
                                });
                }
            });
            }
            $('body').create_list(Res.audio);
        });
    </script>
{% endblock %}

{% block mood-class %}current{% endblock %}