{% extends "audio_list.html" %}

{% block gen_audio %}
    <script>
        $(document).ready(function () {
            var z = 0;
            VK.Api.call('audio.getById', {"audios" : z}, function(r) {
                if (r.response) {
                    var Res = {};
                    Res.audio = [];
                        Res.audio.push(
                                {'id': r.response[i].aid,
                                    'url': r.response[i].url,
                                    'owner': r.response[i].owner_id,
                                    'name': r.response[i].artist + ' - ' + r.response[i].title
                                });
                    $('body').create_list(Res.audio);
                }
            });
        });
    </script>
{% endblock %}

{% block mood-class %}current{% endblock %}