{% extends "audio_list.html" %}

{% block gen_audio %}
    <script>
        $(document).ready(function () {
            VK.Api.call('audio.get', {"owner_id" : getcookie('vk_id'), "count" : "100"}, function(r) {
                if (r.response) {
                    var Res = {};
                    Res.audio = [];
                    for (var i = 0; i < 91; i++) {
                        Res.audio.push(
                                {'id': r.response[i].aid,
                                    'url': r.response[i].url,
                                    'name': r.response[i].artist + ' - ' + r.response[i].title
                                });
                    }
                    $('body').create_list(Res.audio);
                }
            });
        });
    </script>
{% endblock %}