.main-table{
    margin: 0 auto;
    width: 80%;
    height: 600px;
    text-align: center;
}
.left-side{
    width: 30%;
    height: inherit;
    text-align: left;
    background-color: #ADB8C3;
    float: left;
}
.right-side{
    width: 70%;
    height: inherit;
    background-color: #DAE1E8;
    float: right;


}
.right-side table{
    width: 100%;
    height: 100%;
    position: inherit;
}
#popupContact table td{
    cursor: pointer;
    background-size: cover;
    border-radius: 25px;
}
#openapi_user{
    color : white;
    font-weight: bold;
}
#openapi_greeting{
    color: white;
}
#avatar-div{
    margin: 0 auto;
    width: 50px;
}
.hidden-picture{
    display: none;
}

.pictures-table{
    width: inherit;
    height: inherit;
    background-color: darkgrey;
    margin-top: 5px;
    border-radius: 25px;
}
#popupContact{
    position: fixed !important;
    width: 500px;
    height: 500px;
}
#popupContactClose{
    color: black;
}
#popupContactClose:hover {
    text-decoration: underline;
}
.popup-block{
    cursor: pointer;
}
.list{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 13px;
}
.list a:hover{
    text-decoration: underline;
}
.button{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
}
/*pictures*/

.mood-picture-no-mood{
    background-image: url('../images/question.jpg');
}
.mood-picture-0{
    background-image: url('../images/artleo.jpg');
}
.mood-picture-1{
    background-image: url('../images/DExNC00Nj.jpg');
}
.mood-picture-2{
    background-image: url('../images/mood_weekends.jpg');
}
.mood-picture-3{
    background-image: url('../images/grumpy_cat.jpg');
}
.mood-picture-4{
    background-image: url('../images/136533.jpg');
}
.mood-picture-5{
    background-image: url('../images/the-matrix.jpg');
}
.mood-picture-6{
    background-image: url('../images/troll.jpg');
}
.mood-picture-7{
    background-image: url('../images/949zjGljYgY.jpg');
}
.mood-picture-8{
    background-image: url('../images/wolf.jpg');
}
/*.mood-picture-1{*/
    /*background-image: url('../images/dis_cat_.jpg');*/
/*}*/
/*.mood-picture-1{*/
    /*background-image: url('../images/dis_cat_.jpg');*/
/*}*/