h1
{
    color: navy;
}

h2
{
    color: brown;
}
.header_style{
    /*background-color: #808080;*/
    background-image: url('../static/images/back_header_big.jpg');
    height: 220px;
    background-size: cover;
}
.header_style .container{
    /*background-image: url('../static/images/back_header_big.jpg');*/
    /*height: 220px;*/
    /*background-size: cover;*/
}
.main-name{
    color: grey;
    font-family: cursive;
    font-size: 42px;
}

body{
    background-color: #fcd233 !important;
    padding-top: 0;
}

.sign_in_style
{
    float: right;
    position: inherit !important;
    color: blue;
}

ul.sign_in_style a, .home_button{
    color: white;
}

ul.sign_in_style a
{
    font-size: 18px;
}
ul.sign_in_style a:hover{
    color: black;
    cursor: pointer;
}

.home_button:hover{
    color: white;
    text-decoration: underline;
}

.sidebar_style{
    width: 15%;
    float: left;
    height: 100%;
}
.sidebar_nav_style{
/*    padding-bottom: 200%;*/
    position: fixed;
    height: 100%;
    width: 15%;
}
.list_style{
    float: right;
    width: 83%;
}
.sidebar_button_style{

}
.remove_button_style{
    width: 15px;
 }